body{
	margin: 0px auto;
}

.menu {
	background-color: #d6b5d4;
	max-height: 70px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 35px;
	word-spacing: 20px;
	color: #ffffff;
	word-spacing: 50px;
	text-decoration: none;
}

.todos{
	background-color: #c9bcda;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px auto;
	text-align: center;
}

.individual{
	background-color: #eebcbb;
	padding-top: 80px;
	padding-bottom: 10px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 400;
	font-size: 50PX;
	color: black;
}

ul li{
	display: inline-block;
	padding-right:35px;
	padding-left: 35px;
}

p{
	text-align: center;
}






