body{
	margin: 0px auto;
}

.menu {
	background-color: #d6b5d4;
	max-height: 70px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 35px;
	word-spacing: 20px;
	color: #ffffff;
	word-spacing: 50px;
	text-decoration: none;
}

.tudo{
	background-color: #b2c9e9;
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

h1{
	padding-bottom: 20px;
	padding-top: 30px;
	font-size: 50px;
	color: white;
}

h1:hover{
	background-color: transparent;
	color: #f3ccbd;
}

ol{
	padding-top: 30px;
}

li{
	font-size: 20px;
	list-style-type: none;
}