body{
	margin: 0px auto;
}

.menu {
	background-color: #d6b5d4;
	max-height: 70px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 35px;
	word-spacing: 20px;
	color: #ffffff;
	word-spacing: 50px;
	text-decoration: none;
}

ul li{
	display: inline-block;
	padding-right: 110px;
	padding-left: 110px;
	padding-top: 40px;
}

.loja{
	background-color: #f3ccbd;
	padding-top: 1px;
	padding-bottom: 30px;

}

h1{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

p{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 12px;	
}